@using SimpleBankingSystem.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CustomerService</title>
    <link rel="stylesheet" href="/css/ChatRoom.css">
    <base href="/" /> <!--Super important fot Blzaor to work !!!!-->
</head>

<body id="page-top">
    <div>
        <component type="typeof(AdminCustomerSupport)" render-mode=ServerPrerendered />
    </div>
    <script src="~/_framework/blazor.server.js"></script>
</body>

</html>
